 <nav class="navbar box-shadow app-header">
    <div class="d-flex flex-column w-100">      
        <div class="d-flex justify-content-start align-items-center top-navbar">                  
            <div class="top-rigth-icons ml-auto">                 
                <span class="hidden-xs-down">
                    <label class="text-uppercase">{{ 'HEADER.LB-TRANSLATION' | translate }}</label>
                    <app-languages></app-languages>
                </span>                
            </div> 
        </div>
    </div>
</nav>
